*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
}
#box1{
    display: flex;
    align-items: center;
}
#add{
    width: 20px;
    height: 20px;
}
input{
    background-color: #fff;
}
input, #add{
    border-radius: 4px;
}
